@mixin article($align) {
    width: 55%;
    margin: 20px auto;
    overflow: hidden;

    @if $align == center {
        img {
            display: block;
            margin: 25px auto;
            width: 65%;
        }
    } @else {
        h2 {
            text-align: center;
        }

        img {
            float: $align;
            margin: 25px;
            width: 35%;
        }
    }
}

.article-center {
    @include article(center);
}

.article-right {
    @include article(right);
}

.article-left {
    @include article(left);
}

@media screen and (max-width: 768px) {
    @mixin article($align) {
        width: 80%;
        margin: 0px auto;
        overflow: hidden;

        img {
            float: none;
            width: 100%;
            margin: 0px 0px;
        }
    }
    .article-center {
        @include article(center);
    }

    .article-right {
        @include article(right);
    }

    .article-left {
        @include article(left);
    }
}
