* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-dark;
    background-image: url("./../img/background.png");
    color: $white-color;
    font-family: "Changa", sans-serif;
}

.grid {
    display: grid;
    grid-template-rows: none 1fr none;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
}

/* General */

h1 {
    font-family: "Cinzel", serif;
    font-size: 5em;
    margin: 10px 0px;
}

h2 {
    font-family: "Cinzel", serif;
    font-size: 2.5em;
    padding: 30px 10px 20px 10px;
}

p {
    font-size: 1.7em;
    margin: 30px 10px 20px 10px;
}

main {
    grid-area: main;

    margin: 10px;
    animation: fade-in 0.5s;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.flex-column-center {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-justify-space-evenly {
    justify-content: space-evenly;
}

.text-decoration-none {
    text-decoration: none;
}

.white-uppercase {
    color: $white-color;
    text-transform: uppercase;
}

.line-hover {
    &::after {
        display: block;
        content: "";
        border-bottom: solid 3px $white-color;
        transform: scaleX(0);
        transition: transform 0.2s ease-in-out;
    }
    &:hover::after {
        transform: scaleX(1);
    }
}

.text-justify {
    text-align: left;
}

.text-center {
    text-align: center;
}

.bottom-line {
    padding: 25px 0px;
    border-bottom: 1px inset $white-color;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    p {
        font-size: 1.5em;
    }
    .text-justify {
        text-align: center;
    }
}
