.button {
    color: $bg-dark;
    display: block;
    width: 250px;
    margin: 25px auto;
    background-color: $white-color;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    transition: color 0.2s, background-color 0.2s;
    font-family: "Changa", sans-serif;
    font-weight: 500;
    &:hover {
        color: $white-color;
        background-color: $bg-dark;
    }
}