form {
    width: 50%;
    padding: 0px;
    font-size: 30px;
    label {
        display: block;
    }
    input {
        width: 500px;
        height: 50px;
        font-size: 20px;
        border: none;
        border-radius: 0px;
        padding: 10px;
    }
    .button-form{
        @extend .button;
        height: auto;
        width: 10px;
        padding: 0px;
        margin: 0px;
    }
    .message {
        margin: 20px 0px;
        textarea {
            width: 500px;
            padding: 10px;
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 768px) {
    form {
        width: 80%;
        padding: 0px;
        margin: 10px auto;
        font-size: 30px;
        label {
            display: block;
        }
        input {
            width: 100%;
            height: 50px;
        }
        .message {
            margin: 20px auto;
            textarea {
                width: 100%;
                padding: 10px;
                font-size: 15px;
            }
        }
    }
}
