$bg-dark: #0c0c0c;
$bg-dark-opacity: #0c0c0cc0;
$white-color: #f5f5f5;

@import "body";
@import "header";
@import "nav";
@import "cover-game-image";
@import "form";
@import "footer";
@import "button";
@import "article";
